<div class="widget">
  <div class="widget-body">
    <form [formGroup]="filterForm">
      <div class="row">
        <div class="col-xs-3">
          <div class="form-group">
            <span class="control-label">Customers</span>
            <select class="form-control" formControlName="customerId">
            <option value="">All</option>
            <option *ngFor="let item of customers" [value]="item.id">
              {{item.name}}
            </option>
          </select>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="form-group">
            <span>Status</span>
            <select class="form-control" formControlName="showConnectedOnly">
              <option value="">All</option>
              <option value="false">Disconnected</option>
              <option value="true">Connected</option>
            </select>
          </div>
        </div>
        <div class="col-xs-3">
          <button class="btn btn-primary" type="button" (click)="onFilterClicked()">
              Search
              <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>