<ul class="nav navbar-nav navbar-right">
  <li class="dropdown" [class.open]="open">
    <a href="javascript:void(0)" class="dropdown-toggle" (click)="open = !open">
            <img src="https://avatars.io/facebook/DanielKarimson" width="29" height="29" />
            Daniel Karimson
          </a>
    <ul class="dropdown-menu">
      <li>
        <div class="avatar-area">
          <img src="https://avatars.io/facebook/DanielKarimson" class="avatar" />
        </div>
      </li>
      <li class="dropdown-footer">
        <a href="javascript:void(0)" (click)="onLogoutClicked()">
          Sign Out
          <i class="glyphicon glyphicon-log-out"></i>
        </a>
      </li>
    </ul>
  </li>
</ul>