<div class="widget">
  <div class="widget-header bordered-bottom bordered-themesecondary">
    <i class="widget-icon glyphicon glyphicon-stats"></i>
    <span class="widget-caption">Vehicles Status</span>
  </div>
  <div class="widget-body">
    <div class="vehicules-container">
      <ul class="vehicules-list">
        <li *ngFor="let vehicle of vehicles; trackBy:track" class="vehicules-item" [class.connected]="vehicle.isConnected">
          <div class="row">
            <div class="info col-lg-10 col-sm-12">
              <img src="assets/1497295058_LorryGreen.png" class="avatar" *ngIf="vehicle.isConnected" />
              <img src="assets/1497295671_TruckYellow.png" class="avatar" *ngIf="!vehicle.isConnected" />
              <span class="vin">{{vehicle.vin}} - {{vehicle.registrationNumber}}</span>
              <span class="at">at</span>
              <span class="reg-number">{{vehicle.customer}}</span>
            </div>
            <div class="status col-lg-2 col-sm-6 col-xs-12">
              <div class="divider hidden-md hidden-sm hidden-xs"></div>
              <span *ngIf="vehicle.isConnected">Connected</span>
              <span *ngIf="!vehicle.isConnected">Disconnected</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>