@import "../../../../theme/variables";

.vehicules-container {
    position: relative;
    background-color: #f5f5f5;

    .vehicules-list {
        list-style: none;
        padding: 0;
        margin-bottom: 0;

        .vehicules-item {
            position: relative;
            //background-color: #fff;
            background-color:lighten(@brand-warning,30%);
            box-shadow : 0 0 3px rgba(0, 0, 0, 0.2);
            border-radius :3px;
            margin-bottom: 8px;
            padding: 0 15px;
            vertical-align: top;

            &:last-child {
                margin-bottom: 0;
            }

            &.connected {
                background-color:lighten(@brand-success,30%);
            }

            .info {
                height: 60px;
                padding: 10px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                
                .avatar {
                    width: 40px;
                    height: 40px;
                    border-radius: 3px;
                }

                .vin {
                    margin-left: 5px;
                    font-size: 13px;
                }

                .at {
                    margin-left: 2px;
                    color: #ccc;
                    font-size: 13px;
                }

                .reg-number {
                    margin-left: 2px;
                    color: #999999;
                }

            }

            .status {
                line-height: 40px;
                height: 60px;
                padding: 10px;
            }

            .divider {
                position: absolute;
                top: 0;
                left: 0;
                height: 60px;
                width: 1px;
                background-color: #eee;
                display: inline-block;
            }
        }
    }
}
