<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">
        <i class="glyphicon glyphicon-road"></i>
        Vehicles Connect
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <vc-navbar>
      </vc-navbar>
      <vc-account-dropdown>
      </vc-account-dropdown>
    </div>
  </div>
</nav>